;; ┌────────────────────────────────────────────────────────────┐
;; │░█▀█░█▀█░█░░░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▀▀░█▀█░█▀█░█▀▀░▀█▀░█▀▀│
;; │░█▀▀░█░█░█░░░░█░░█▀▄░█▀█░█▀▄░░░░▀░░░░█░░░█░█░█░█░█▀▀░░█░░█░█│
;; │░▀░░░▀▀▀░▀▀▀░░▀░░▀▀░░▀░▀░▀░▀░░░░▀░░░░▀▀▀░▀▀▀░▀░▀░▀░░░▀▀▀░▀▀▀│
;; └────────────────────────────────────────────────────────────┘


[global/wm]
margin-top = 0
margin-bottom = 10


;; File Inclusion
include-file = ~/.config/leftwm/themes/current/polybar.colors
include-file = ~/.config/leftwm/themes/current/polybar.modules


[settings]
screenchange-reload = true
throttle-output = 5
throttle-output-for = 10
compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
pseudo-transparency = false

[bar/mainbar0]
inherit = bar/barbase
modules-left = launcher spacer workspace0
tray-position = none
;tray-position = right
tray-detached = true
tray-maxsize = 20
tray-offset-x = -45
tray-offset-y = 0
tray-padding = 5
tray-scale = 1


[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t "$SCRIPTPATH/polybar.liquid"
tail = true


[bar/mainbar1]
inherit = bar/barbase
modules-left = launcher spacer workspace1


[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t "$SCRIPTPATH/polybar.liquid"
tail = true


[bar/barbase]
width = ${env:width}
monitor = ${env:monitor}
offset-x = 0
offset-y = 0
height = 30
fixed-center = true
bottom = false
background = ${color.background}
foreground = ${color.foreground}
radius-top = 0
radius-bottom = 0
padding-left = 0
padding-right = 0
module-margin-left = 1
module-margin-right = 0
font-0 = "Iosevka Nerd Font:size=10;3"
font-1 = "Roboto:size=11:weight=bold;2"
font-2 = "Noto Sans:size=11;1"
font-3 = "FontAwesome:size=10"
modules-right = aur-updates arch-updates spacer pulseaudio-control spacer-dot bluetooth wlan  spacer-dot date spacer powermenu
border-bottom = 2
border-color = ${color.primary}
cursor-click = pointer
cursor-scroll = ns-resize
line-size = 2
line-color = ${color.primary}

