;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;==========================================================

[colors]
;; Active Colors
bg = #1e1f29
fg = #f8f8f2
fg-alt = #9C9C9C

trans = #00000000
white = #FFFFFF
black = #000000

;; Material Colors
red = #e53935
pink = #d81b60
purple = #8e24aa
deep-purple = #5e35b1
indigo = #3949ab
blue = #1e88e5
light-blue = #039be5
cyan = #00acc1
teal = #00897b
green = #43a047
light-green = #7cb342
lime = #c0ca33
yellow = #fdd835
amber = #ffb300
orange = #fb8c00
deep-orange = #f4511e
brown = #6d4c41
grey = #757575
blue-gray = #546e7a


[global/wm]
margin-top = 0
margin-bottom = 5

[bar/mainbar0]
inherit = bar/barbase
modules-left = apps separator workspace0
;modules-center = layout0
tray-position = right
tray-detached = true
tray-maxsize = 20
tray-offset-x = -25
tray-offset-y = 0
tray-padding = 5
tray-scale = 1


[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t "$SCRIPTPATH/polybar.liquid"
tail = true


[bar/mainbar1]
inherit = bar/barbase
modules-left = apps separator workspace1
;modules-center = layout1


[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t "$SCRIPTPATH/polybar.liquid"
tail = true


[bar/barbase]
width = ${env:width}
monitor = ${env:monitor}
offset-x = 0
offset-y = 0
height = 24
fixed-center = true
bottom = false
background = ${colors.bg}
foreground = ${colors.fg}
radius-top = 0
radius-bottom = 0
padding-left = 0
padding-right = 0
module-margin-left = 0
module-margin-right = 0
font-0 = "SauceCodePro Nerd Font:size=11:weight=semibold;3"
font-1 = "Noto Sans Mono:size=10;0"
font-2 = "FontAwesome:size=10;0"
modules-center = date
modules-right = powermenu
border-bottom = 2
border-color = ${colors.amber}
cursor-click = pointer
cursor-scroll = ns-resize


[module/ewmh]
type = internal/xworkspaces
pin-workspaces = true
enable-click = true
enable-scroll = true
format = <label-state>
label-monitor = %name%



[module/apps]
type = custom/text
content = "  "
content-foreground = ${colors.amber}
click-left = rofi -show drun -show-icons -theme ~/.config/leftwm/themes/current/rofi/launcher.rasi

[module/separator]
type = custom/text
content = " "


[module/date]
type = internal/date
interval = 1.0
time = %a %H:%M
time-alt = %B %d, %Y
format = <label>
label = %time%


[module/powermenu]
type = custom/text
content = " 襤 "
content-foreground = ${colors.bg}
content-background = ${colors.amber}
click-left = ~/.config/leftwm/themes/current/rofi/powermenu.sh


[settings]
screenchange-reload = true


;; UNUSED MODULES


[module/pulseaudio]
type = internal/pulseaudio
format-volume = <ramp-volume> <label-volume>
label-volume = %percentage%%
ramp-volume-0 = 奄
ramp-volume-1 = 奔
ramp-volume-2 = 墳
label-muted = 婢 muted
label-muted-foreground = ${colors.amber}
click-right = pavucontrol



[module/layout]
type = custom/script
exec = leftwm-state -w "$index" -s "{{ workspace.layout }}"
tail = true

[module/layout0]
type = custom/script
format-prefix = " "
format-prefix-foreground = ${colors.amber}
exec = leftwm-state -w 0 -s "{{ workspace.layout }}"
tail = true
click-left = leftwm-command "NextLayout" 
click-right = leftwm-command "PreviousLayout" 

[module/layout1]
type = custom/script
format-prefix = " "
format-prefix-foreground = ${colors.amber}
exec = leftwm-state -w 1 -s "{{ workspace.layout }}"
tail = true
click-left = leftwm-command "NextLayout" 
click-right = leftwm-command "PreviousLayout" 
